<div class="last-story-card">
  <div class="last-story-title">
    <h2><%= link_to last_story.title, story_path(last_story) %>
    </h2>
  </div>
  <div class="last-story-text">
  <p><%= last_story.text %></p>
  </div>
</div>
